
body
{
	font-family: 'Oswald', sans-serif;
	background-color: #31735a;
	background-image: url('../img/750px-Flag_of_Western_Abenaki.png');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 100%;					
}
				
			
