
body
{
	/*font-family: 'Oswald', sans-serif;*/
	background-color: #31735a;
}
				
A:link {text-decoration: none; color: #000000;}
A:visited {text-decoration: none; color: #000000;}
A:active {text-decoration: none; color: #000000;}
A:hover {text-decoration: underline; color: #000000;}
			
