
body
{
	font-family: 'Oswald', sans-serif;
	background-color: #31735a;
}
				
A:link {text-decoration: none; color: #FFFFFF;}
A:visited {text-decoration: none; color: #FFFFFF;}
A:active {text-decoration: none; color: #FFFFFF;}
A:hover {text-decoration: underline; color: #FFFFFF;}
			
